:root {
    --white-bg: #fff;
    --black-bg: #000;
    --grey: #777;
}

/*  reseting css  */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
}

h3 {
    font-size: 2.7rem;
    margin-bottom: 1.2rem;
    text-align: left;
}

p {
    font-size: 1.4rem;
    line-height: 1.6;
    width: 76%;
    padding: 0.5rem 0;
    margin: 2rem auto;
}
header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
/*  nav part  */
nav {
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: var(--white-bg);
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    width: 100vw;
    background-color: var(--white-bg);
}

section {
    width: 100vw;
    height: calc(100vh - 80px);
    margin: 0 auto;
}

.white {
    background-color: var(--white-bg);
    color: #000;
}

.black {
    background-color: var(--black-bg);
    color: #fff;
}

.divider {
    width: 76%;
    height: 0;
    border: 1px solid var(--grey);
    margin: 0 auto;
}

header .divider {
    position: absolute;
    bottom: 5rem;
}

.icon-title {
    display: inline-block;
    padding: 5px 8px;
    line-height: 5rem;
    height: 100%;
    position: absolute;
    text-align: center;
    font-size: 2.2rem;
}

.nav-left {
    width: 22%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.face {
    position: absolute;
}

.blink {
    opacity: 0;
    animation: blinkAnim 5s infinite; /* blink in every 5 seconds for infinite times */
}

@keyframes blinkAnim {
    0% {
        opacity: 0;
    }
    46% {
        opacity: 0;
    }
    47% {
        opacity: 1;
    } /* blink moment */
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    } /* back to normal */
    100% {
        opacity: 0;
    }
}

.nav-right {
    width: 45%;
}

.nav-right > ul {
    font-weight: 600;
    font-size: 1.3rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-right > ul > li :hover,
.nav-right > ul > li :active {
    color: #777;
}
/*  Hero area  */

.hero-title {
    font-size: 5.6rem;
}

.hero-des {
    font-size: 1.9rem;
    margin-top: 0.7rem;
    color: var(--grey);
    font-style: italic;
}

.hero-btn {
    margin-top: 2.2rem;
    padding: 0.8rem 1.8rem;
    font-size: 1.2rem;
    background-color: var(--black-bg);
    border: none;
    cursor: pointer;
    color: var(--white-bg);
}

/* about me */
.about-me {
    padding: 0 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-me .left,
.about-me .right {
    width: 50%;
}

.about-me .right {
    display: flex;
    justify-content: center;
}

.about-me .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
